body {
	font-family: 'Lacquer', 'M PLUS 1p', 'Ma Shan Zheng', sans-serif, cursive;
}

.hidden {
	display: none;
}












/*font-family: 'Lacquer', sans-serif;
font-family: 'M PLUS 1p', sans-serif;
font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'Ma Shan Zheng', cursive;
font-family: 'Zhi Mang Xing', cursive;*/